<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<h1>Welcome to the Employees Application</h1>

<table>
  <span th:each="employee: ${employees}">
    <tr>
      <td th:text="${employee.id}" th:width="30"></td>
      <td th:text="${employee.name}" th:width="150"></td>
      <td th:text="${employee.job}" th:width="150"></td>
      <td th:width="120">
        <span th:text="${#numbers.formatDecimal(employee.salary, 0, 'COMMA', 0, 'POINT')}"></span> Ft
      </td>
      <td th:text="${#temporals.format(employee.started, 'yyyy-MM-dd HH:mm')}"></td>
    </tr>
  </span>
</table>
<br/><br/><br/>
<form th:object="${newEmployee}" method="post" th:action="@{/employee}">
  Id: <input th:field="*{id}" type="number"/> <br/>
  Name: <input th:field="*{name}"/> <br/>
  Job: <input th:field="*{job}"/> <br/>
  Salary: <input th:field="*{salary}" type="number"/> <br/>
  <input type="submit" value="Create"/>
</form>

</body>
</html>